.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }
/*Hasta aqui es para el formulario*/

.slider {

	background: url("img/portada5.jpg");
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.tamaño {

	font-size: 2rem;
	color: #F12B64;
}

.tamaño-2 {

	font-size: 20px;
}

.barra {

	background-color: rgba(74, 189, 172, .90);
}

.cuadro-r {

	background-color: #FC0F88;
	color: white;
}

.color {

	background-color: #f7cc81;

}

.fadeInLeft {

	transition-delay: 4s;
}

.bg-info {

	background-color: rgba(74, 189, 172, .90);
}